# NativePHP app identity
NATIVEPHP_APP_ID=com.pamela.inventory
NATIVEPHP_APP_VERSION="1.0.3"
NATIVEPHP_DEEPLINK_SCHEME=nativephp
NATIVEPHP_APP_AUTHOR="Pamela's Online Shop"
NATIVEPHP_APP_DESCRIPTION="Pamela Inventory System with Barcode"
NATIVEPHP_APP_COPYRIGHT="© 2025 Pamela's Online Shop"
NATIVEPHP_APP_WEBSITE="http://pamelasonlineshop.local"

# Updater core config
NATIVEPHP_UPDATER_ENABLED=true
NATIVEPHP_UPDATER_PROVIDER=github

# GitHub updater (pamela-inventory repo)
GITHUB_REPO=pamela-inventory
GITHUB_OWNER=israillaky

# If repo is public:
GITHUB_TOKEN=xxxxxxxxxxx
GITHUB_PRIVATE=false

# If you later make repo private, create PAT and put it here:
# GITHUB_TOKEN=ghp_xxxxxxxx
# GITHUB_PRIVATE=true

# Updater behavior
GITHUB_V_PREFIXED_TAG_NAME=true
GITHUB_CHANNEL=latest
GITHUB_RELEASE_TYPE=draft
